{% extends 'layout.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock page_css %}


{% block content %}
    <div class="hero-image">
        <div class="hero-text">
            {% if current_user.is_authenticated %}
            <h1><b>WELCOME TO iNUMAN {{current_user.username}}</b></h1>
            {{current_user}}
            {% else %}
            <h1><b>WELCOME TO iNUMAN</b></h1>
            {% endif %}
        </div>
    </div> 
    <section id="servers">
        <div class="container-fluid">
            <h1 class="text-center mt-4">SERVERS</h1>
            <div class="row server-info">
                <div class="col-lg-8">
                    <h3>The Beech</h3>
                    <h5>RANKED #3</h5>
                    <h5>USERS INSIDE: 130</h5>
                    <h5>CAPACITY: 150</h5>
                    <h5>ENTRANCE FEE: Free</h5>

                </div>
                
                <div class="col-lg-4 text-center server-buttons">
                    <a class="btn btn-light mb-2" href="{{url_for('show_server', server_id=1)}}">Enter Server</a>
                </div>
            </div>
            <hr>
            <div class="row server-info">
                <div class="col-lg-8">
                    <h3>Other Server Name</h3>
                    <h5>RANKED #3</h5>
                    <h5>USERS INSIDE: 130</h5>
                    <h5>CAPACITY: 150</h5>
                    <h5>ENTRANCE FEE: Free</h5>

                </div>
                
                <div class="col-lg-4 text-center server-buttons">
                    <button class="btn btn-light mb-2">Enter Server</button>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}