{% extends 'layout.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/show_server.css') }}">
{% endblock page_css %}

{% block content %}
<!-- <div class="dj-image">
    <div class="dj-text">
        <div class="d-flex">
            <button class="btn btn-light">Request Song</button>
            <button class="btn btn-light ms-2">TIP</button>
        </div>
    </div>
    <div class="dj-video-text">
        <div class="d-flex">
            <span class="mt-1">&#128308;</span><h4>LIVE</h4>
        </div>
    </div>
</div>  -->
<div class="container-fluid">
        <iframe width="100%" height="825" src="https://www.youtube.com/embed/rrYFx-6E7Ac?&autoplay=1&mute=1&controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<section id="live_chat">
    <div class="container mt-4">
        <h1 class="text-center">Chat (TEST)</h1>
        <div id="msg_container">
        </div>
        <div class="d-flex">
            <input type="text" class="form-control" id='msg' onkeyup="checkKey(event)">
            <button class="btn btn-primary">
                Send
            </button>
        </div>
    </div>
</section>

<section id="rooms">
    <div class="container-fluid mt-4">
        <h1 class="text-center">TABLES</h1>
        <div class="container">
            <div class="row text-center">
                <div class="round">
                    <div class="round-text">
                        TABLE 1
                        <br>
                        <a href="{{ url_for('show_room', server_id=1, room_id=1) }}">JOIN</a>
                    </div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 2</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 3</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 4</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 5</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 6</div>
                </div>
            </div>

            <div class="row text-center mt-4">
                <div class="round">
                    <div class="round-text">TABLE 1</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 2</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 3</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 4</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 5</div>
                </div>
                <div class="round ms-5">
                    <div class="round-text">TABLE 6</div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/show_server.js') }}"></script>


{% endblock content %}