body, html {
    height: 100%;
    background-color: black;
    color: white;
}

/* The hero image */
.videos {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:url("/static/images/table_room.jpg");
  
    /* Set a specific height */
    height: 60%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  

#table-name {
    font-family: 'Yeseva One', cursive;


}

#table-chat-title {
    font-family: 'Josefin Sans', sans-serif;


    
}


#active-users-count {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 15px;
    font-style:normal;

}