body, html {
    height: 100%;
    background-color: black;
    color: white;
}

#videos-container{
    height: 60%;
    width: 100%;
}

#table-name {
    font-family: 'Yeseva One', cursive;


}

#table-chat-title {
    font-family: 'Josefin Sans', sans-serif;
    
}


#active-users-count {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 15px;
    font-style:normal;

}


#play-game-button {
    color: white;
    border-radius: 8px;
    background: black;
    border: 1px solid white;
    font-family: 'Josefin Sans', sans-serif;

}

#play-game-button:hover {
    background-color: white;
    color: black
}








