body, html {
    height: 100%;
    background-color: black;
    color: white;
}

#videos-frame-container{
    height: 60%;
    width: 100%;
    transition: 0.5s;
}

#table-name {
    font-family: 'Yeseva One', cursive;


}

#msg_container {
    height: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: #1F2833;
    border-radius: 10px;
    padding: 12px;
}

#table-chat-title {
    font-family: 'Josefin Sans', sans-serif;
    
}


#active-users-count {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 15px;
    font-style:normal;

}


#play-game-button {
    color: white;
    border-radius: 8px;
    background: black;
    border: 1px solid white;
    font-family: 'Josefin Sans', sans-serif;

}

#play-game-button:hover {
    background-color: white;
    color: black
}


#game-container{
    position: relative;
    top: -60px;
}










